@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    @apply
      bg-gradient-to-t
      from-[#0F5F50]
      to-[#3f937c]
      h-full
      antialiased
      bg-fixed
      w-full
  }

  html * {
    @apply
      font-light
      box-border
  }

  nav {
    @apply
      bg-[#fdfdfd]
      p-4
      rounded-lg
      shadow-lg
      m-3
      w-full
      max-w-[1200px]
  }

  body {
    @apply
      p-6
      flex
      flex-col
      items-center
      justify-center
  }

  main {
    @apply
      w-full
      max-w-[1200px]
  }

  .page-container {
    @apply
      flex
      flex-col
      items-center
      justify-center
      pt-10
  }

  h1 {
    @apply
      text-3xl
      font-extralight
      text-center
  }

  h2 {
    @apply
      text-2xl
      font-extralight
      text-center
  }

  h3 {
    @apply
      text-xl
      font-light
      text-center

  }

  a {
    @apply
      hover:bg-gray-200
      p-3
      rounded-lg
      hover:text-[#3f937c]
      text-black
      font-light
  }

  p {
    @apply
      font-light;
  }

  button {
    @apply
      bg-gray-100
      p-3
      rounded-lg
      hover:bg-gray-200
      text-black font-light
      hover:text-[#3f937c]
      hover:cursor-pointer
      transition-all duration-300
      max-w-[300px]
      w-full
      border-[1px]
  }

  input, select {
    @apply
      border-[1px]
      border-gray-300
      bg-white
      p-3
      rounded-lg
      text-black
      font-light
      pr-2
      h-12
  }

  select, ::picker(select) {
    appearance: base-select;
  }

  ::picker(select) {
    @apply
      border-[1px]
      border-gray-300
      p-3
      rounded-lg
      text-black
      font-light
  }

  select::picker-icon {
    @apply
      text-gray-300
      mr-2
  }

  label {
    @apply
      text-nowrap
      block
      overflow-ellipsis
      overflow-hidden
  }

  .form-column {
    @apply
      basis-1/2
      w-full
      flex
      flex-grow
      flex-col
      p-3
      pb-0
      md:pb-3
  }

  .split {
    @apply
      basis-full
      md:basis-1/2
      flex-row
      flex-wrap
      justify-between
  }

  .split-form-input-container {
    @apply
      basis-full
      md:basis-1/2
      flex
      flex-col
      w-full
      max-w-[100%]
      min-w-[100%]
      md:max-w-[48%]
      md:min-w-[48%]
      even:mt-3
      md:mb-0
      md:even:mt-0
  }

  .advocates-list {
    @apply
      mt-1
      w-full
      text-black
  }

  .advocates-list ol {
    @apply
      list-none
      flex
      flex-wrap
      justify-start
      p-0
      m-0
      items-center
      gap-1
  }

  .advocates-list ol li {
    @apply
      m-0
      md:m-1
      p-0
      min-h-[360px]
      max-h-[450px]
      md:max-w-[48.5%]
      xl:max-w-[32%]
  }

  .advocate-card {
    @apply
      bg-[#fdfdfd]
      p-5
      rounded-lg
      shadow-lg
      mb-3
      mt-3
      text-black
      flex
      flex-wrap
      flex-row
      gap-4
      justify-between
      md:items-center
      w-full
      h-full
  }

  .avocate-card-avatar {
    @apply
      rounded-full
      bg-[#3f937c]
      p-0
      w-20
      h-20
      min-w-20
      min-h-20
      max-w-20
      max-h-20
      text-white
      text-center
      text-3xl
      font-extralight
      flex
      items-center
      justify-center
      md:basis-[15%]
      mr-2
  }

  .advocate-card-header {
    @apply
      flex flex-row gap-3 flex-wrap items-center w-full
  }

  .advocate-card-footer {
    @apply
      flex flex-row gap-2 justify-end p-2 ml-auto
  }

  .advocate-card-specialties {
    @apply
    flex flex-col justify-start w-full bg-gray-100 p-3 rounded-lg min-h-[120px]
  }
}